.logoBox {
	position: relative; 
  width: 100%;
}

.bg_logo {
	/*position:absolute;
	right:0px;*/
	float:right;
}

.fg_motto {
	font-family: Verdana, Geneva, sans-serif;
	color: #DF0101;
	text-shadow:0.07em 0.07em #6E6E6E;
	position: absolute; 
	line-height: 1.5em;
	top: 0.7em; 
	left: 3em; 
	width: 100%;
}

.logoBox {

}

.banner {
	padding-top: 20px
}

.nav {
	padding-left: 10px;
	li {
		a {
			color:white;
		};
	};
}

.motto {
	text-align: center;
	margin-bottom: 0px;
}


.nav {
	text-transform:uppercase;
	font-weight: bold;
}

.navbar-inverse .nav > li > a {
  color: white;
}

.navbar-inverse .nav > li > a:hover {
  color: #0033CC;
}

.yardBlock {
	padding-bottom:2em;
}

.map {
	text-align: center;
}

#brand_logos {
	position:relative;
	width:350px;
	margin: 0 auto;
	margin-bottom:2em;
}